$hero_color: #222A35;
$white: #ffffff;
$name_color: #FFCC01;
$letter_spacing: 0.1875rem;
$hr_color: #FECB00;
$left-section: 36%;
$right-section: 100% - $left-section;
$font_title: 'Bebas Neue', cursive;
$font_common: 'Poppins', sans-serif;
$avatar_border: 5px;