// color
$hero_color: #222A35;
$white: #ffffff;
$name_color: #FFCC01;
$hr_color: #ffcc01;
$title_color: #363636;
$main_color: #555555;
$letter_spacing_title: 0.125rem;
$left-section: 36%;
$right-section: 100% - $left-section;
$avatar_border: 5px;
$section_bg_color: #f7f8ff;
//fonts
$font_title: 'Bebas Neue', cursive;
$font_common: 'Poppins', sans-serif;
