//@import "normalize.css";
@import "reset";
@import "constants";
@import "main";
//@import "fonts";

body {
  display: flex;
  flex-direction: column;
  font-family: $font_common;
  font-weight: 400;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  outline: 1px solid gold;
}

.header,
.footer {
  .wrapper {
    @extend .container;
  }
}
