@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: blue;
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  color: #9999ff;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main {
  display: flex;
  flex: 1 0 auto;
}
.main .wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.main .wrapper .hero {
  display: flex;
  padding: 3rem 2rem 3rem 4rem;
  background-color: #222A35;
}
.main .wrapper .hero .avatar {
  position: relative;
  width: 218px;
  flex-shrink: 0;
  margin-right: 4rem;
}
.main .wrapper .hero .avatar .avatar__img {
  margin: 0 auto;
  border: 5px solid #FFCC01;
}
.main .wrapper .hero .hero__info .hero__name {
  color: #FFCC01;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  margin-bottom: 0.5rem;
}
.main .wrapper .hero .hero__info .hero__name span {
  display: block;
}
.main .wrapper .hero .hero__info .hero__position {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.main .wrapper .hero .hero__about {
  color: #ffffff;
  font-size: 0.875rem;
}
.main .wrapper .main-section {
  display: flex;
  height: 100%;
  background-color: #f7f8ff;
}
.main .wrapper .main-section .section-left {
  width: 36%;
  flex: 1 0 auto;
  height: 100%;
  padding-bottom: 2rem;
}
.main .wrapper .main-section section.education,
.main .wrapper .main-section section.language,
.main .wrapper .main-section section.contacts,
.main .wrapper .main-section section.hobbies,
.main .wrapper .main-section section.skills {
  margin: 2rem 2rem 0 2rem;
}
.main .wrapper .main-section section.education .section__title,
.main .wrapper .main-section section.language .section__title,
.main .wrapper .main-section section.contacts .section__title,
.main .wrapper .main-section section.hobbies .section__title,
.main .wrapper .main-section section.skills .section__title {
  position: relative;
  font-family: "Bebas Neue", cursive;
  font-size: 1.375rem;
  color: #363636;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin-bottom: 3rem;
}
.main .wrapper .main-section section.education .section__title::after,
.main .wrapper .main-section section.language .section__title::after,
.main .wrapper .main-section section.contacts .section__title::after,
.main .wrapper .main-section section.hobbies .section__title::after,
.main .wrapper .main-section section.skills .section__title::after {
  content: "";
  width: 2.5rem;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  border: 2px solid #ffcc01;
}
.main .wrapper .main-section section.education .section__items,
.main .wrapper .main-section section.language .section__items,
.main .wrapper .main-section section.contacts .section__items,
.main .wrapper .main-section section.hobbies .section__items,
.main .wrapper .main-section section.skills .section__items {
  font-size: 0.875rem;
  margin-top: 2rem;
}
.main .wrapper .main-section section.education .section__items .section__item,
.main .wrapper .main-section section.language .section__items .section__item,
.main .wrapper .main-section section.contacts .section__items .section__item,
.main .wrapper .main-section section.hobbies .section__items .section__item,
.main .wrapper .main-section section.skills .section__items .section__item {
  margin-top: 0.5rem;
  line-height: 1rem;
}
.main .wrapper .main-section section.education .hobbies__icons,
.main .wrapper .main-section section.language .hobbies__icons,
.main .wrapper .main-section section.contacts .hobbies__icons,
.main .wrapper .main-section section.hobbies .hobbies__icons,
.main .wrapper .main-section section.skills .hobbies__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.main .wrapper .main-section section.education .hobbies__icons .football,
.main .wrapper .main-section section.language .hobbies__icons .football,
.main .wrapper .main-section section.contacts .hobbies__icons .football,
.main .wrapper .main-section section.hobbies .hobbies__icons .football,
.main .wrapper .main-section section.skills .hobbies__icons .football {
  background: url(../assets/icons/football-64.png);
}
.main .wrapper .main-section section.education .hobbies__icons .ping-pong,
.main .wrapper .main-section section.language .hobbies__icons .ping-pong,
.main .wrapper .main-section section.contacts .hobbies__icons .ping-pong,
.main .wrapper .main-section section.hobbies .hobbies__icons .ping-pong,
.main .wrapper .main-section section.skills .hobbies__icons .ping-pong {
  background: url(../assets/icons/ping-pong-64.png);
}
.main .wrapper .main-section section.education .hobbies__icons .snooker,
.main .wrapper .main-section section.language .hobbies__icons .snooker,
.main .wrapper .main-section section.contacts .hobbies__icons .snooker,
.main .wrapper .main-section section.hobbies .hobbies__icons .snooker,
.main .wrapper .main-section section.skills .hobbies__icons .snooker {
  background: url(../assets/icons/snooker-64.png);
}
.main .wrapper .main-section section.education .hobbies__icons .boxing,
.main .wrapper .main-section section.language .hobbies__icons .boxing,
.main .wrapper .main-section section.contacts .hobbies__icons .boxing,
.main .wrapper .main-section section.hobbies .hobbies__icons .boxing,
.main .wrapper .main-section section.skills .hobbies__icons .boxing {
  background: url(../assets/icons/boxing-gloves-64.png);
}
.main .wrapper .main-section section.education .hobbies__icons .snowboard,
.main .wrapper .main-section section.language .hobbies__icons .snowboard,
.main .wrapper .main-section section.contacts .hobbies__icons .snowboard,
.main .wrapper .main-section section.hobbies .hobbies__icons .snowboard,
.main .wrapper .main-section section.skills .hobbies__icons .snowboard {
  background: url(../assets/icons/snowboard-64.png);
}
.main .wrapper .main-section section.education .hobbies__icons .chess,
.main .wrapper .main-section section.language .hobbies__icons .chess,
.main .wrapper .main-section section.contacts .hobbies__icons .chess,
.main .wrapper .main-section section.hobbies .hobbies__icons .chess,
.main .wrapper .main-section section.skills .hobbies__icons .chess {
  background: url(../assets/icons/chesspiece-64.png);
}
.main .wrapper .main-section section.education .hobbies__icons .bicycle,
.main .wrapper .main-section section.language .hobbies__icons .bicycle,
.main .wrapper .main-section section.contacts .hobbies__icons .bicycle,
.main .wrapper .main-section section.hobbies .hobbies__icons .bicycle,
.main .wrapper .main-section section.skills .hobbies__icons .bicycle {
  background: url(../assets/icons/bicycle-64.png);
}
.main .wrapper .main-section section.education .hobbies__icons .ice-skating,
.main .wrapper .main-section section.language .hobbies__icons .ice-skating,
.main .wrapper .main-section section.contacts .hobbies__icons .ice-skating,
.main .wrapper .main-section section.hobbies .hobbies__icons .ice-skating,
.main .wrapper .main-section section.skills .hobbies__icons .ice-skating {
  background: url(../assets/icons/ice-skating-shoes-64.png);
}
.main .wrapper .main-section section.education .hobbies__icons .icon,
.main .wrapper .main-section section.language .hobbies__icons .icon,
.main .wrapper .main-section section.contacts .hobbies__icons .icon,
.main .wrapper .main-section section.hobbies .hobbies__icons .icon,
.main .wrapper .main-section section.skills .hobbies__icons .icon {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-size: cover;
}
.main .wrapper .main-section section.contacts .section__items .section__item {
  margin-top: 1rem;
  white-space: pre-line;
}
.main .wrapper .main-section section.skills .section__items .section__item {
  display: inline-block;
  background: #FFCC01;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  margin-right: 0.125rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
}
.main .wrapper .main-section .section-right {
  width: 64%;
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555555;
}

.container, .header .wrapper,
.footer .wrapper, .main .wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.header,
.footer {
  visibility: hidden;
}
.fw-500 {
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
